@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import "tailwindcss";


/*body{*/
/*  font-family: "Poller One", serif;*/
/*  background-image: url("./assets/sky.jpg");*/
/*  color: #b88007;*/
/*  background-attachment: fixed;*/
/*}*/

@layer base {
  body{
    @apply bg-fixed;
    @apply font-poller;
    @apply bg-sky;
    @apply text-base-color;
  }
}
@theme{
  --font-poller: "Poller one", serif;
  --background-image-sky: url(./assets/sky.jpg) ;
  --color-base-color:#eedb00;
  --color-grey-color: rgba(60, 69, 67, 0.6);
  --color-red-color: rgba(184, 10, 13, 0.73) ;
  --shadow-hero: 10px 10px 20px rgba(223, 132, 14, 0.68);
  --color-green-color: rgb(3, 101, 3) ;
  --color-gren-color: rgb(3, 163, 3);
  --text-yello-color: rgb(135, 125, 13);
  --color-gry-color: rgba(53, 53, 53, 0.87);
}
